body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

header nav a, footer p {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: #999;
}

.btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #444;
}

.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}